.search {
  background-color: #C42521;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.searchInput {
  width: 80%;
  height: 38px;
  position: relative;
}

.input {
  border-radius: 5px;
  border: 0;
  padding: 10px 0px 10px 50px;
  width: 100%;
}

.searchInput span {
  position: absolute;
  left: 16px;
  top: 3px;
}

input {
  font-size: 16px;
  font-weight: 400;
}
