.footer {
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  color: white;
  padding-top: 15px;
  padding-bottom: 25px;
}

.icons {
  display: flex;
  gap: 15px;
}

p {
  margin: 0;
  font-size: 14px;
}